.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #e0e0e0;
  padding-top: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  margin: 1px 0;
  padding: 3px 8px;
  transition: background-color 0.2s;
}

.menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  padding-left: 20px; /* Desplazamiento hacia la derecha */
}

.menu li a:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.menu li a svg {
  font-size: 18px;
}

.menu li a .MuiTypography-root {
  font-size: 14px;
  margin-left: 10px; /* Puedes dejarlo o reducirlo si el padding ya es suficiente */
}

/* Estilo activo */
.menu li a.active {
  color: #FC083B;
}

.menu li a.active svg,
.menu li a.active .MuiTypography-root {
  color: #FC083B;
  font-weight: bold;
}
