/* src/components/Layout.css */
.rutas-formativas-header
{
  text-align: left;
}
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0; /* Elimina cualquier padding lateral */
  margin: 0;  /* Elimina cualquier margen predeterminado */
  box-sizing: border-box;
  padding-top: 0px !important;
}

.content-container {
  width: 100%;
  height: 100%; /* Puedes ajustar si quieres un pequeño respiro visual */
  margin-left: 0;
  box-sizing: border-box;
}

  
  .main-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #FC083B;
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
  }

    .main-content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #FC083B;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
  }